In [1]:
# import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# bring in coffee3_df.csv as coffee_df, and New York City, New York F as nyc_weather_df

coffee_df = pd.read_csv('coffee3_df.csv', index_col=0)
nyc_weather_df = pd.read_csv('New York City, New York F 2023-01-01 to 2023-06-30.csv')

In [17]:
# Check the DataFrames
coffee_df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,transaction_total,day_of_week
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,6.0,Sunday
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,Sunday
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,9.0,Sunday
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2.0,Sunday
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,Sunday

In [11]:
nyc_weather_df.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"New York City, New York",2023-01-01,54.0,50.0,52.0,54.0,47.3,51.9,39.7,64.9,...,8.4,4,10,2023-01-01T07:20:12,2023-01-01T16:39:10,0.32,"Rain, Partially cloudy",Becoming cloudy in the afternoon with early mo...,rain,"72505394728,KLGA,F8726,KNYC,F1417,72503014732"
1,"New York City, New York",2023-01-02,56.0,47.0,52.3,56.0,44.7,51.7,39.6,62.3,...,3.6,3,10,2023-01-02T07:20:17,2023-01-02T16:40:01,0.35,"Rain, Partially cloudy",Becoming cloudy in the afternoon with late aft...,rain,"72505394728,KLGA,F8726,KNYC,F1417,72503014732"
2,"New York City, New York",2023-01-03,55.5,46.2,51.1,55.5,43.9,50.5,47.6,87.9,...,1.5,1,10,2023-01-03T07:20:21,2023-01-03T16:40:53,0.39,"Rain, Overcast",Cloudy skies throughout the day with rain in t...,rain,"72505394728,KLGA,KNYC,F1417,72503014732"
3,"New York City, New York",2023-01-04,65.7,48.6,57.9,65.7,45.2,57.6,51.5,79.7,...,5.1,3,10,2023-01-04T07:20:22,2023-01-04T16:41:48,0.42,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"72505394728,KLGA,F8726,KNYC,F1417,72503014732"
4,"New York City, New York",2023-01-05,49.0,44.7,47.3,47.8,39.7,44.6,44.7,90.7,...,2.3,1,10,2023-01-05T07:20:21,2023-01-05T16:42:43,0.46,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"72505394728,KLGA,F8726,KNYC,F1417,72503014732"

In [7]:
# Clean up nyc_weather_df to only include what's needed... What is needed, though?
nyc_weather_df.info() # keep the datetime(act as where to join), tempmax, tempmin, temp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              181 non-null    object
 1   datetime          181 non-null    object
 2   tempmax           181 non-null    float64
 3   tempmin           181 non-null    float64
 4   temp              181 non-null    float64
 5   feelslikemax      181 non-null    float64
 6   feelslikemin      181 non-null    float64
 7   feelslike         181 non-null    float64
 8   dew               181 non-null    float64
 9   humidity          181 non-null    float64
 10  precip            181 non-null    float64
 11  precipprob        181 non-null    int64
 12  precipcover       181 non-null    float64
 13  preciptype        89 non-null     object
 14  snow              181 non-null    float64
 15  snowdepth         181 non-null    float64
 16  windgust          181 non-null    float64
 17  windspeed         181 non-null    float64
 18  winddir           181 non-null    float64
 19  sealevelpressure  181 non-null    float64
 20  cloudcover        181 non-null    float64
 21  visibility        181 non-null    float64
 22  solarradiation    181 non-null    float64
 23  solarenergy       181 non-null    float64
 24  uvindex           181 non-null    int64
 25  severerisk        181 non-null    int64
 26  sunrise           181 non-null    object
 27  sunset            181 non-null    object
 28  moonphase         181 non-null    float64
 29  conditions        181 non-null    object
 30  description       181 non-null    object
 31  icon              181 non-null    object
 32  stations          181 non-null    object
dtypes: float64(21), int64(3), object(9)
memory usage: 46.8+ KB

In [8]:
# create a nyc_temp_df from nyc_weather_df

nyc_temp_df = nyc_weather_df[['datetime','tempmax','tempmin','temp']]
nyc_temp_df

       datetime  tempmax  tempmin  temp
0    2023-01-01     54.0     50.0  52.0
1    2023-01-02     56.0     47.0  52.3
2    2023-01-03     55.5     46.2  51.1
3    2023-01-04     65.7     48.6  57.9
4    2023-01-05     49.0     44.7  47.3
..          ...      ...      ...   ...
176  2023-06-26     79.0     69.8  72.8
177  2023-06-27     80.7     66.9  71.9
178  2023-06-28     82.1     68.0  74.1
179  2023-06-29     82.9     66.7  74.4
180  2023-06-30     83.9     69.2  75.8

[181 rows x 4 columns]

In [15]:
# Left join coffee_df w/ nyc_temp_df on dates

coffee_and_temp_df = pd.merge(coffee_df, nyc_temp_df, how = 'left', left_on= 'transaction_date', right_on= 'datetime')
coffee_and_temp_df = coffee_and_temp_df.drop('datetime', axis = 1)
coffee_and_temp_df

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,transaction_total,day_of_week,tempmax,tempmin,temp
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg,6.00,Sunday,54.0,50.0,52.0
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.20,Sunday,54.0,50.0,52.0
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,9.00,Sunday,54.0,50.0,52.0
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2.00,Sunday,54.0,50.0,52.0
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.20,Sunday,54.0,50.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149111,149452,2023-06-30,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg,5.00,Friday,83.9,69.2,75.8
149112,149453,2023-06-30,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg,6.00,Friday,83.9,69.2,75.8
149113,149454,2023-06-30,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,3.00,Friday,83.9,69.2,75.8
149114,149455,2023-06-30,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,3.75,Friday,83.9,69.2,75.8
149115,149456,2023-06-30,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup,1.60,Friday,83.9,69.2,75.8